<a href="https://colab.research.google.com/github/nilishalu/WE-Machine-Learning-Sessions/blob/main/Sessions/WE_20221124.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [ ]:
iris = datasets.load_iris()

In [ ]:
names = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']
iris_df = pd.DataFrame(iris.data, columns = names)
iris_df['target'] = iris.target

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_size = 0.7

X = iris_df.drop(columns = ['target']).copy()
y = iris_df['target']

X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.7)

test_size = 0.4
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.4)

print(X_train.shape), print(y_train.shape)
print(X_valid.shape), print(y_valid.shape)
print(X_test.shape), print(y_test.shape)

(105, 4)
(105,)
(27, 4)
(27,)
(18, 4)
(18,)

(None, None)

In [ ]:
X_train.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    105.000000   105.000000    105.000000   105.000000
mean       5.894286     3.023810      3.944762     1.276190
std        0.847942     0.429562      1.743559     0.748142
min        4.400000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.400000
50%        5.900000     3.000000      4.500000     1.400000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.200000      6.900000     2.500000

In [ ]:
X_valid.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count     27.000000    27.000000     27.000000    27.000000
mean       5.677778     3.070370      3.359259     1.029630
std        0.850038     0.402697      1.870882     0.835655
min        4.300000     2.300000      1.100000     0.100000
25%        5.050000     2.800000      1.450000     0.200000
50%        5.600000     3.000000      4.100000     1.200000
75%        6.350000     3.400000      5.100000     1.800000
max        7.200000     4.000000      6.000000     2.300000

In [ ]:
X_test.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count     18.000000    18.000000     18.000000    18.000000
mean       5.794444     3.233333      3.266667     1.005556
std        0.666397     0.498232      1.624446     0.691522
min        5.000000     2.300000      1.400000     0.200000
25%        5.100000     3.000000      1.525000     0.325000
50%        5.700000     3.150000      4.050000     1.300000
75%        6.375000     3.550000      4.650000     1.500000
max        6.900000     4.400000      5.500000     2.300000